### Print Hello World

In [1]:
print("Hello World")

Hello World

In [2]:
print("SayyedAasef")

SayyedAasef

In [3]:
print("DataScience")

DataScience

### Veriables

In [13]:
name="aasef"
Age=22
Income=25000

In [14]:
print(name)
print(Age)
print(Income)

aasef
22
25000

In [16]:
namelist="Sayyed","Aasef"
namelist

('Sayyed', 'Aasef')

In [1]:
name lisht="Sayyed","Aasef"
name list

SyntaxError: invalid syntax (1288899992.py, line 1)

### Space is not allowed

In [4]:
2namelist="Sayyed","Aasef"
2namelist

SyntaxError: invalid decimal literal (2445982870.py, line 1)

### Veriables name should not start with number

In [5]:
n2amelist="Sayyed","Aasef"
n2amelist

('Sayyed', 'Aasef')

In [6]:
name+list="Sayyed","Aasef"
name+list

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1409977084.py, line 1)

In [7]:
name_list="Sayyed","Aasef"
name_list

('Sayyed', 'Aasef')

### The only allowed spl.character is underscore

### Veriables name should start A-Z,a-z,or underscore

In [6]:
name="ai"

type(name)

str

In [7]:
x=10
type(x)

int

In [8]:
x=10.7
type(x)

float

In [9]:
x=True
type(x)

bool

In [10]:
y=False
type(y)

bool

In [11]:
y=True
type(y)

bool

In [4]:
X=false
type(x)

NameError: name 'false' is not defined

#### python is case-sensitive

In [1]:
z="True"
type(z)

str

In [3]:
z='True'
type(z)

str

#### Implicit conversion

In [14]:
x=10
y=2
x/y

5.0

In [15]:
x=10
y='ds'
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
x=10.5
y=10
x+y

20.5

In [17]:
x=10.5
y='10'
x+int(y)

20.5

In [18]:
x='ds'
y='da'
x+y

'dsda'

In [19]:
x=10
y=10.4
x+y

20.4

In [20]:
int->float
int->string
float->int
float->str
str->int
str->float

SyntaxError: invalid syntax (48553925.py, line 1)

In [21]:
x='hi'
int(x)

ValueError: invalid literal for int() with base 10: 'hi'

In [22]:
x='hi'
float(x)

ValueError: could not convert string to float: 'hi'

### Day-2 (03/06/2023)

#### oprators

#### Arithmetic oprators

In [13]:
x=10
y=12
z=x+y
print(z)
type(z)

22

int

In [14]:
x=10
y=12
z=x-y
print(z)
type(z)

-2

int

In [15]:
x=10
y=12
z=x*y
print(z)
type(z)

120

int

In [16]:
x=10
y=12
z=x/y
print(z)
type(z)

0.8333333333333334

float

In [17]:
x=30
y=4
z=x%y
print(z)
type(z)

2

int