### Print Hello World

In [1]:
print("Hello World")

Hello World

In [2]:
print("SayyedAasef")

SayyedAasef

In [3]:
print("DataScience")

DataScience

### Veriables

In [4]:
name="aasef"
Age=22
Income=25000

In [5]:
print(name)
print(Age)
print(Income)

aasef
22
25000

In [6]:
namelist="Sayyed","Aasef"
namelist

('Sayyed', 'Aasef')

In [7]:
name lisht="Sayyed","Aasef"
name list

SyntaxError: invalid syntax (1288899992.py, line 1)

### Space is not allowed

In [8]:
2namelist="Sayyed","Aasef"
2namelist

SyntaxError: invalid decimal literal (2445982870.py, line 1)

### Veriables name should not start with number

In [9]:
n2amelist="Sayyed","Aasef"
n2amelist

('Sayyed', 'Aasef')

In [10]:
name+list="Sayyed","Aasef"
name+list

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1409977084.py, line 1)

In [11]:
name_list="Sayyed","Aasef"
name_list

('Sayyed', 'Aasef')

### The only allowed spl.character is underscore

### Veriables name should start A-Z,a-z,or underscore

In [12]:
name="ai"

type(name)

str

In [13]:
x=10
type(x)

int

In [14]:
x=10.7
type(x)

float

In [15]:
x=True
type(x)

bool

In [16]:
y=False
type(y)

bool

In [17]:
y=True
type(y)

bool

In [18]:
X=false
type(x)

NameError: name 'false' is not defined

#### python is case-sensitive

In [19]:
z="True"
type(z)

str

In [20]:
z='True'
type(z)

str

#### Implicit conversion

In [21]:
x=10
y=2
x/y

5.0

In [22]:
x=10
y='ds'
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
x=10.5
y=10
x+y

20.5

In [24]:
x=10.5
y='10'
x+int(y)

20.5

In [25]:
x='ds'
y='da'
x+y

'dsda'

In [26]:
x=10
y=10.4
x+y

20.4

In [27]:
int->float
int->string
float->int
float->str
str->int
str->float

SyntaxError: invalid syntax (48553925.py, line 1)

In [28]:
x='hi'
int(x)

ValueError: invalid literal for int() with base 10: 'hi'

In [29]:
x='hi'
float(x)

ValueError: could not convert string to float: 'hi'

### Day-2 (03/06/2023)

#### oprators

#### Arithmetic oprators

In [30]:
x=10
y=12
z=x+y
print(z)
type(z)

22

int

In [31]:
x=10
y=12
z=x-y
print(z)
type(z)

-2

int

In [32]:
first_name="sayyed"
second_name="aasef"
full_name=first_name+second_name
full_name

'sayyedaasef'

In [33]:
text="Age is "
age="22"
combine=text+age
combine

'Age is 22'

In [34]:
x=10
y=12
z=x*y
print(z)
type(z)

120

int

In [35]:
value="ai"
count="3"
result=value*count
result

TypeError: can't multiply sequence by non-int of type 'str'

In [36]:
x=10
y=12
z=x/y
print(z)
type(z)

0.8333333333333334

float

In [37]:
x=37
y=6
z=x%y
print(z)
type(z)

1

int

In [38]:
x=29
y=7
z=x%y
print(z)
type(z)

1

int

In [39]:
x=34
y=8
z=x%y
print(z)
type(z)

2

int

In [40]:
x=4
y=56
z=x%y
print(z)
type(z)

4

int

In [41]:
x=3
y=67
z=x%y
print(z)
type(z)

3

int

#### Modulus > Numerator > Denominator it returns reminders else it returs x

In [42]:
x=27
y=4
z=x//y
print(z)
type(z)

6

int

In [43]:
x=4
y=27
z=x%y
print(z)
type(z)

4

int

In [44]:
x=30
y=30
z=x%y
print(z)
type(z)

0

int

In [45]:
x=6
y=27
z=x%y
print(z)
type(z)

6

int

#### Floor Division -> Numerator > Denominator it returns Quotient else it returns 0

In [46]:
x=6
y=27
z=x**y
z

1023490369077469249536

In [47]:
x=2
y=5
z=x**y
z

32

#### Relational Operators

In [48]:
x=10
y=20
x<y

True

In [49]:
x=10
y=20
x>y

False

In [52]:
x=10
y=20
x=y

In [51]:
x=10
y=20
x!=y

True

In [53]:
x=10
y=20
x>=y

False

In [54]:
x=10
y=20
x<=y

True

#### Logical Operators

In [55]:
is_student=True
in_college=True
in_school=False

In [56]:
is_student and in_college

True

In [57]:
is_student and in_school

False

In [58]:
is_student and in_college

True

In [59]:
is_student or in_college

True

In [60]:
is_student or in_school

True

In [61]:
not(in_school)

True

In [62]:
not(in_college)

False

#### Membership Operator

In [63]:
vowels="aeiou"
print("u" in vowels)

True

In [64]:
print("l" in vowels)

False

In [65]:
print("u"not in vowels)

False

#### Assignment Operator

In [66]:
a+=b -> a=a+b

SyntaxError: invalid syntax (2151731264.py, line 1)

In [67]:
a=5
b=6
a=a+b
a

11

In [68]:
a=5
b=6
a+=b
a

11

In [69]:
a=5
b=6
a-=b
a

-1

In [70]:
a=5
b=6
a*=b
a

30

In [71]:
a=5
b=6
a/=b
a

0.8333333333333334

#### Conditional Statements

In [72]:
num=5
if(num>0):
    print(num,"num is greater than zero")

5 num is greater than zero

In [73]:
num=5
if(num<0):
    print(num,"num is greater than zero")

### not getting the output

In [74]:
num=-5
if(num>0):
    print(num,"num is greater than zero")
else:
    print(num,"num is lesser than zero")

-5 num is lesser than zero

In [75]:
age=int(input("Enter age: "))
if (0>age>3):
    print("no fares for age group")
elif(3>age>10):
    print("Bus fares is 10")
elif(10<age<20):
    print("Bus fares is 20")
else:
    print("Bus fares is 30")

Enter age: 30
Bus fares is 30

In [76]:
age=int(input("Enter age: "))
if (0>age>3):
    print("no fares for age group")
elif(3>age>10):
    print("Bus fares is 10")
elif(10<age<20):
    print("Bus fares is 20")
else:
    print("Bus fares is 30")

Enter age: 2
Bus fares is 30

In [77]:
age=int(input("Enter age: "))
if (0>age>3):
    print("no fares for age group")
elif(3>age>10):
    print("Bus fares is 10")
elif(10<age<20):
    print("Bus fares is 20")
else:
    print("Bus fares is 30")

Enter age: 8
Bus fares is 30

In [78]:
age=int(input("Enter age: "))
if (0>age>3):
    print("no fares for age group")
elif(3>age>10):
    print("Bus fares is 10")
elif(10<age<20):
    print("Bus fares is 20")
else:
    print("Bus fares is 30")

Enter age: 7
Bus fares is 30

In [79]:
age=int(input("Enter age: "))
if (0>age>3):
    print("no fares for age group")
elif(3>age>10):
    print("Bus fares is 10")
elif(10<age<20):
    print("Bus fares is 20")
else:
    print("Bus fares is 30")

Enter age: 80
Bus fares is 30

In [ ]:
###  if elif else -> programe

In [80]:
n1=100
n2=2
n3=300
if(n1>n2):
    print(n1,"Is Greater")
else:
    if(n3>n2):
        print(n3,"Is Greater")
    else:
        print(n2,"Is Greater")

100 Is Greater

In [82]:
# programe to check user id and password
user_id = input("Enter user id: ")
password = input("password: ")
if(user_id == "sayyedaasef"):
    if(password == "251001"):
        print("password accepted.Logged in")
    else:
        print("wrong password.please enter correct password")

Enter user id: sayyedaasef
password: 251001
password accepted.Logged in

#### Day-3

#### strings

In [101]:
name="aasef"
print(name)
type(name)

aasef

str

In [83]:
text="i love python"

In [84]:
text[0]

'i'

In [85]:
text[2]

'l'

In [86]:
text[-1]

'n'

In [87]:
text[-3]

'h'

In [88]:
text[:]

'i love python'

In [90]:
### [:] It will be printing everything

In [91]:
text[2:6]

'love'

In [95]:
### it will gives 2,3,4,5

In [97]:
text[:len(text)]

'i love python'

In [98]:
text[2:]

'love python'

In [99]:
text[::-1]

'nohtyp evol i'

In [102]:
text[2]

'l'

In [107]:
text[2:-1]

'love pytho'

In [115]:
text[:-7:-1]

'nohtyp'

In [116]:
text[:-4:-1]

'noh'

In [117]:
### reverse the string and displace the third last letter
text[::-1] [-3]

'l'

In [118]:
text.replace("python","data science")

'i love data science'

In [119]:
text.upper()

'I LOVE PYTHON'

In [121]:
text.lower()

'i love python'

In [123]:
text.title()

'I Love Python'

In [124]:
date="21","04","21"
sep='/'
sep.join(date)

'21/04/21'

In [128]:
text="***python*for*data*science***"
text.strip("*")

'python*for*data*science'

### List

In [132]:
sample_list=[1,2,3,4,6,-1,"hy",5.7]
sample_list

[1, 2, 3, 4, 6, -1, 'hy', 5.7]

In [131]:
type(sample_list)

list

#### Elements in a list are seperated by comma and enclosed in square brackets

#### List is hetrogenous-> mulitiple data types

#### list can have duplicates

In [134]:
book_list=["python","R","Ds"]
print(book_list)
type(book_list)

['python', 'R', 'Ds']

list

In [135]:
novels=["Lord of rings","Harry Potter","Esha"]

In [137]:
library=book_list+novels
library

['python', 'R', 'Ds', 'Lord of rings', 'Harry Potter', 'Esha']

In [143]:
novels.append("jumanji")

In [144]:
novels

['Lord of rings', 'Harry Potter', 'Esha', 'jumanji']

In [145]:
novels.insert(1,"Leader")
novels

['Lord of rings', 'Leader', 'Harry Potter', 'Esha', 'jumanji']

In [151]:
avg_prices=[10,11,12,15,67,87]
avg_prices.sort()

In [152]:
avg_prices

[10, 11, 12, 15, 67, 87]

In [153]:
avg_prices_sorted=sorted(avg_prices)
avg_prices_sorted

[10, 11, 12, 15, 67, 87]

In [154]:
prod=["mango","apple","banana"]

In [155]:
prod

['mango', 'apple', 'banana']

In [156]:
avg_prices.sort(reverse=True)

In [157]:
avg_prices

[87, 67, 15, 12, 11, 10]

In [160]:
prod.sort(reverse=True)

In [162]:
prod

['mango', 'banana', 'apple']

In [163]:
avg_prices=[10,11,12,12.5,15,67,87]
avg_prices.sort()
avg_prices

[10, 11, 12, 12.5, 15, 67, 87]

In [164]:
avg_prices=[10,11,12,12.5,15,67,87,"hy"]
avg_prices.sort()
avg_prices

TypeError: '<' not supported between instances of 'str' and 'int'

In [166]:
products=["Dairy","Bakery","Grocery","Clothings"]
print("Bakery" in products)

True

In [167]:
print("Bakery" not in products)

False

In [168]:
for books in products:
    print(books)

Dairy
Bakery
Grocery
Clothings

In [169]:
prices=[1,2,3,4,6,-8]
len(prices)

6

In [170]:
max(prices)

6

In [171]:
min(prices)

-8

In [172]:
products.clear()
products

[]

In [173]:
prices=[1,4,5,6,8,9,10,]
prices.count(1)

1

In [174]:
items=["hii","hello"]
prices.extend(items)

In [175]:
prices

[1, 4, 5, 6, 8, 9, 10, 'hii', 'hello']

In [177]:
prices.index("hii")

7

In [178]:
prices.insert(2,"ai")
prices

[1, 4, 'ai', 5, 6, 8, 9, 10, 'hii', 'hello']

In [179]:
prices.pop(2)
prices

[1, 4, 5, 6, 8, 9, 10, 'hii', 'hello']

In [180]:
prices.remove("hello")
prices

[1, 4, 5, 6, 8, 9, 10, 'hii']

In [181]:
prices.reverse()

In [182]:
prices

['hii', 10, 9, 8, 6, 5, 4, 1]

In [183]:
prices[0:3]

['hii', 10, 9]

In [184]:
prices[4:5]

[6]

In [185]:
prices[-2]

4

In [186]:
prices[0:-1]

['hii', 10, 9, 8, 6, 5, 4]

In [188]:
prices[0]="ds"
prices

['ds', 10, 9, 8, 6, 5, 4, 1]

#### List is mutable-> change after creating the list